@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* body {
    background-color: #121212 !important ;
}

.rspress-nav  {
    background-color: #121212 !important;
}

.rspress-sidebar-menu {
    background-color: #121212 !important;
}

.rspress-sidebar {
    background-color: #121212 !important;
} */
