name: ci checks

on:
    pull_request:
        branches:
            - '**'
        types: [opened, synchronize, reopened, unlabeled]
        paths:
          - '**'

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    test:
        timeout-minutes: 10
        runs-on: macos-latest-xlarge # Run on M1
        steps:
            - uses: actions/checkout@v4
            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest
            - run: bun install
            - run: bun run build
            - run: bun ci
