name: ci checks

on:
    workflow_dispatch:
    pull_request:
        branches:
            - '**'
        types: [opened, synchronize, reopened, unlabeled]
        paths:
            - '**'

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    test:
        timeout-minutes: 10
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Install Docker
              run: sudo apt-get update && sudo apt-get install -y docker-ce-cli

            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - run: bun install
            - run: bun run build
            - run: bun run ci
